@model ClubDeportivo.Web.Models.Actividad

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActividadId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
