@model ClubDeportivo.Web.Models.Socio

@{
    ViewData["Title"] = "Detalles del socio";
}

<h1>Detalles del socio</h1>

<div>
    <h4>Socio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.SocioId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>

    <!-- Opcional: atajos relacionados con Inscripciones -->
    <a asp-controller="Inscripciones"
       asp-action="Inscribir"
       asp-route-socioId="@Model.SocioId"
       class="btn btn-outline-primary d-none">
        (no usado, solo ejemplo)
    </a>

    <a asp-controller="Inscripciones"
       asp-action="ActividadesPorSocio"
       asp-route-id="@Model.SocioId"
       class="btn btn-outline-info">
        Ver actividades del socio
    </a>
</div>
